name: daily-quran-reading

on:
  schedule:
    # Berjalan setiap hari sekali pada pukul 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Execute Reading
        run: python script.py

      - name: Send ntfy notification
        if: success()
        run: |
          curl -d "Pembacaan Surah harian telah selesai dan diniatkan untuk keluarga." \
               ntfy.sh/NTFY_TOPIC
